.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/Dependency/.swiftpm
/ConfluenceReader/.swiftpm
/ConfluenceReader/.build
/.swiftpm
